<div class="mark-page">

	<div class="dice-controls">
		<button (click)="roll()">roll</button>
		<button (click)="roll(10)">roll 10</button>
		<button (click)="roll(100)">roll 100</button>
		<button (click)="roll(1000)">roll 1000</button>
		<button (click)="roll(1000000)">roll 1000000</button>
		<button (click)="clearTally()">clear tally</button>
	</div>

	<div class="dice-tray">
		<div *ngFor="let result of results" class="dice-result">{{result}}</div>
	</div>

	<p01-scoreboard [scoreboard]="scoreboard"></p01-scoreboard>

</div>