.dice-page {
	
	.dice-tray {
		margin: 0.4em 0;
	}
	
	.dice-result {
		background-color: white;
		border: 1px solid black;
		color: black;
		display: inline-block;
		font-family: monospace;
		margin: 0 0.4em;
		text-align: center;
		vertical-align: middle;
		padding: 1em;
	}
	
	.dice-tally-result {
		&.winning {
			color: #cc6666;
		}
	}
	
	.dice-tally-count {
		
	}
	
	.dice-tally-bar {
		display: inline-block;
		background-color: #66cc99;
		height: 1.32em;
		text-align: right;
		transition: width 0.4s;
	}
}


